body {
  font: 2vw Papyrus, Times, serif;
  margin: 20px;
  font-style: bold;
}

ol, ul {
  padding-left: 3vw;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #ffa;
  border: vmin solid #999;
  float: left;
  font-size: 5vw;
  font-weight: bold;
  line-height: 7vw;
  height: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.square-hovered {
  background: rgb(182, 182, 121);
  border: vmin solid #999;
  float: left;
  font-size: 5vw;
  font-weight: bold;
  line-height: 7vw;
  height: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 3vw;
}